@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.switcherContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .label {
    color: vars.$color-coldgrey-5;
    user-select: none; // Empeche la selection de "FR"/"EN"
    pointer-events: none; // clics transmis au button

    font-size: clamp(0.625rem, 0.6rem + 0.2vw, 0.75rem);
    font-weight: 600;
    white-space: nowrap;
  }

  .switch {
    position: relative;
    width: 48px; // 32px (track) + 2×8px marge interne pour zone clic
    height: 44px; // 16px (track) + 2×14px zone clic vert/vers
    border: none;
    background: none;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid vars.$color-coldgrey-2;
      outline-offset: 2px;
    }

    /* Track étroit et centré */
    &::before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 50%;
      left: 8px;
      width: 32px;
      height: 16px;
      background: black;
      border-radius: 16px;
      transform: translateY(-50%);
    }

    /* Boule glissante */
    .slider {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 8px; // 14px (padding) + 2px (marge intérieure)
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
      transform: translateY(-50%);
      transition: left 0.2s;
      border: 1px solid white;
    }
  }

  /* Etat "checked" : fond du track + déplacement de la boule */
  .checked::before {
    background: blue;
  }
  .checked .slider {
    left: 24px;
  }

  .srOnly {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0 0 0 0) !important;
    white-space: nowrap !important; /* évite le retour à la ligne */
    border: 0 !important;
  }
}
