@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

.navList {
  display: flex;
  gap: 32px;

  .navLink {
    min-width: 32px; /* largeur minimale de zone cliquable */
    min-height: 32px; /* hauteur minimale de zone cliquable */
    display: inline-flex;
    align-items: center;
    color: vars.$color-coldgrey-5;
    &:hover {
      color: vars.$color-coldgrey-2;
    }

    &:focus-visible {
      outline: 2px solid vars.$color-coldgrey-2;
      outline-offset: 2px;
      border-radius: 6px;
    }
  }

  /*-------------------------------------------------*\
 //* État actif :
  - via data-attribute (recommandé)
\*--------------------------------------------------*/
  /* 1) data-attribute posé par ActiveLink */
  .navLink[data-active='true'] {
    color: vars.$color-coldgrey-2;
  }
}
