.headerRibbon {
  z-index: 1000;
  position: fixed;
  width: 100%;
  border: 1px solid white;
  /*------------------ Tablet ------------------*/
  @media screen and (min-width: 768px) {
    max-width: 2240px;
    margin: 0 auto;
  }

  .header {
    height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border: 1px solid red;
    /*------------------ Tablet ------------------*/
    @media screen and (min-width: 768px) {
      gap: 64px;
    }

    .logoContainer {
      flex: 1;
      display: flex;
      border: 1px solid white;

      .logoLink {
        border: 1px solid yellowgreen;

        .logo {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: 1px solid orange;
        }
      }
    }

    .burgerMenu {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px solid orange;
      /*------------------ Tablet ------------------*/
      @media screen and (min-width: 768px) {
        display: none;
      }
    }

    .navContainer {
      display: none;
      /*------------------ Tablet ------------------*/
      @media screen and (min-width: 768px) {
        width: 100%;
        max-width: 1400px;
        display: flex;
        justify-content: flex-end;
        border: 1px solid white;

        .navBar {
          display: flex;

          gap: 32px;
          border: 1px solid red;

          .link {
            min-height: 32px;
            min-width: 32px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            color: white;
            border: 1px solid orange;
          }
        }
      }
    }

    .optionsContainer {
      flex: 1;
      border: 1px solid white;
      /*------------------ Tablet ------------------*/
      @media screen and (min-width: 768px) {
        display: flex;
        justify-content: flex-end;
        gap: 24px;
      }

      .ctaBtn {
        display: none;
        /*------------------ Tablet ------------------*/
        @media screen and (min-width: 768px) {
          display: flex;
          align-items: center;
          padding: 12px 24px;
          border: 1px solid orange;
          background-color: grey;
          white-space: nowrap;
        }
      }

      .localeSwitcherContainer {
        min-height: 44px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: 1px solid yellowgreen;

        .localeSwitcher {
          width: 80px;
          height: 16px;
          border: 1px solid orange;
        }
      }
    }
  }
}
