@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

// si tu veux utiliser un mixin ou une variable :
// @include mixins.center-content();
// color: vars.$text-color;

.main {
  padding: 80px 24px 0; // 64px = taille du header, 24px = espacement avec les bords de l'écran
  border: 1px solid white;

  .heroSectionWrapper {
    height: 100vh;
    background: radial-gradient(#363636 0%, transparent 100%);
    // border: 1px solid red;

    .heroSection {
      height: 100%;
      margin: 0 auto;
      max-width: 1400px;
      border: 1px solid green;
    }
  }
}
