@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mixins;

// si tu veux utiliser un mixin ou une variable :
// @include mixins.center-content();
// color: vars.$text-color;

.h1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  font-size: 48px;
}
